h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    position: relative;
    width: 100%;
    background: rgb(0, 0, 0);
    z-index: 99;
}
/*---------header close----------*/
/*-----------header-top------------*/
.header-top {
    padding: 12px 0px 15px 0px;
    background: rgba(0, 0, 0, 0.57);
}
.left_info ul li {
    display: inline-block;
    margin-right: 30px;
}

.left_info a {
    color: #fffefe;
    font-size: 14px;
    font-weight: 500;
}

.left_info i.fa {
    font-size: 19px;
    color: #fff;
    padding-right: 10px;
}

.right_info p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

.left_info {
    text-align: right;
}

.right_info i.fa {
    font-size: 26px;
    margin-right: 10px;
    position: relative;
    bottom: -4px;
}

header i.fa.fa-mobile {
    bottom: -4px;
    font-size: 26px;
    position: relative;
    border: 40px;
    font-weight: 500;
}

.left_info ul li:last-child {
    margin: 0px !IMPORTANT;
}
.header-main {
    padding: 21px 0;
    border-top: 1px solid #424242;
}
/*-----------header-top Close------------*/
/*-----------header-menu------------*/
nav#cssmenu ul {
    float: right;
    margin-top: 13px;
}
.logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:#6DDB07;float:left;}
.logo img {
    max-width: 170px;
}
.logo a{color:#6DDB07;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu > ul > li{float:left}
#cssmenu > ul > li > a {
    padding: 9px 17px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #efefef;
}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
    color: #fff;
}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
    /* background: #f82249!important; */
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:17px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 14px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    margin-top: 0;
}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#333;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150,150,150,0.15);
    padding: 11px 15px;
    width: 190px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:991px){
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
#cssmenu{width:100%}
#cssmenu ul{width:100%;display:none}
#cssmenu ul li {
    width: 100%;
    border-top: 1px solid #444;
    float: left;
}
#cssmenu ul li:hover{
    background: transparent !important;
}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
#cssmenu ul ul li a{padding-left:25px}
#cssmenu ul ul li{background:#333!important;}
#cssmenu ul ul li:hover{background:#363636!important}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#ddd;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:8px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#262626}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
}

img{
    width: 100%;
}
div#slider-home .carousel-item::before {
    background: #0000005c;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
#slider-home h3 {
    text-transform: capitalize;
    font-size: 50px;
}

#slider-home p {
    font-size: 23px;
}

#slider-home .btn {
    /* background: #f82249; */
    color: #fff;
    padding: 12px 30px !important;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#slider-home .btn:hover{    
    background: #ffffff;
    /* color: #f82249; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.footer{
	background: #0d1117;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  color:#fff!important;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer .footer-left{
	width: 40%;
}


.footer h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer h3 span{
	color:  teal;
}

/* Footer links */

.footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-name{
  color: teal;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  teal;
	text-decoration: none;;
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer .footer-right{
	width: 20%;
}

.footer .footer-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-socials{
	margin-top: 25px;
}

.footer .footer-socials a{
	display: inline-block;
	font-size: 35px;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.footer .logo {
    max-width: 100px;
    height: 50px;
    width: 50px
    border-radius: 50%; 
    margin-bottom: 15px;
}


@media (max-width: 800px) {

	.footer{
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer-center i{
		margin-left: 0;
	}

}
.title{
    background: linear-gradient(to right, grey, lightgrey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.row1{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 1236px) {
    .row1 {
        display: grid;
        text-align: center;
        justify-content: center;
        gap: 116px;
        width: 100%; /* Optional: ensures it spans the full width */
    }}






















    p,a,h1,h2,h3,h4,h5,h6,ul,li {
        margin: 0;
        padding: 0;
    }
    
    .section-services {
        font-family: "Poppins", sans-serif;
        background-color: #e6edf7;
        color: #202020;
        padding-top: 115px;
        padding-bottom: 120px;
    }
    
    .section-services .header-section {
        margin-bottom: 34px;
    }
    
    .section-services .header-section .title {
        position: relative;
        padding-bottom: 14px;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 32px;
    }
    
    .section-services .header-section .title:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 3px;
        background-color: #ff4500;
        border-radius: 3px;
    }
    
    .section-services .header-section .title:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(30px);
        width: 10px;
        height: 3px;
        background-color: #504f93;
        border-radius: 3px;
    }
    
    .section-services .header-section .description {
        font-size: 14px;
        color: #282828;
    }
    
    .section-services .single-service {
        position: relative;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
        padding: 40px 30px;
        overflow: hidden;
    }
    
    .section-services .single-service .content {
        position: relative;
        z-index: 20;
    }
    
    .section-services .single-service .circle-before {
        position: absolute;
        top: 0;
        right: 0px;
        transform: translate(40%, -40%);
        width: 150px;
        height: 150px;
        background-color: #ff4500;
        border: 6px solid #504f93;
        border-radius: 50%;
        opacity: 0.5;
        z-index: 10;
        transition: all .6s;
    }
    
    .section-services .single-service:hover .circle-before {
        width: 100%;
        height: 100%;
        transform: none;
        border: 0;
        border-radius: 0;
        opacity: 1;
    }
    
    .section-services .single-service .icon {
        display: inline-block;
        margin-bottom: 26px;
        width: 70px;
        height: 70px;
        background-color: #ff4500;
        border-radius: 5px;
        line-height: 70px;
        text-align: center;
        color: #fff;
        font-size: 30px;
        transition: all .3s;
    }
    
    .section-services .single-service:hover .icon {
        background-color: #fff;
        color: #ff4500;
    }
    
    .section-services .single-service .title {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 23px;
        transition: color .3s;
    }
    
    .section-services .single-service:hover .title {
        color: #fff;
    }
    
    .section-services .single-service .description {
        margin-bottom: 20px;
        font-size: 14px;
        transition: color .3s;
    }
    
    .section-services .single-service:hover .description {
        color: #fff;
    }
    
    .section-services .single-service a {
        position: relative;
        font-size: 18px;
        color: #202020;
        text-decoration: none;
        font-weight: 500;
        transition: color .3s;
    }
    
    .section-services .single-service:hover a {
        color: #fff;
    }
    
    .section-services .single-service a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #ff4500;
        transition: background-color .3s;
    }
    
    .section-services .single-service:hover a:after {
        background-color: #fff;
    }